.box {
    border-radius: var(--border-radius);
    border: 2px solid transparent;
    color: var(--color-text-contrast);
    box-sizing: content-box;
}

:focus-visible + .box {
    outline: 1px solid var(--color-text-contrast);
    box-shadow: 0 0 4px rgb(var(--color-rgb));
}

.off {
    background-color: transparent;
    border-color: rgb(var(--color-rgb));
}

.on {
    background-color: rgb(var(--color-rgb));
    border-color: rgb(var(--color-rgb));
}

.indeterminate {
    background-color: rgb(var(--color-rgb));
    border-color: rgb(var(--color-rgb));
}

.size-xxs {
    width: var(--size-xxs);
    height: var(--size-xxs);
}
.size-xs {
    width: var(--size-xs);
    height: var(--size-xs);
}
.size-s {
    width: var(--size-s);
    height: var(--size-s);
}
.size-m {
    width: var(--size-m);
    height: var(--size-m);
}
.size-l {
    width: var(--size-l);
    height: var(--size-l);
}
.size-xl {
    width: var(--size-xl);
    height: var(--size-xl);
}

.color-default {
    composes: default from "../../../../colors.css";
}
.color-primary {
    composes: primary from "../../../../colors.css";
}
.color-success {
    composes: success from "../../../../colors.css";
}
.color-info {
    composes: info from "../../../../colors.css";
}
.color-warn {
    composes: warn from "../../../../colors.css";
}
.color-error {
    composes: error from "../../../../colors.css";
}

.disabled.box {
    --color-rgb: var(--default-dark-rgb);
    --color-text-contrast: var(--text-dim);
}
