.wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.disabled {
    cursor: default;
}

.radiobox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.box {
    border-radius: 50%;
    border: 2px solid rgb(var(--color-rgb));
    color: var(--color-text-contrast);
    background-color: transparent;
}

.disabled .box {
    --color-rgb: var(--default-dark-rgb);
    --color-text-contrast: var(--text-dim);
}

:focus-visible + .box {
    outline: 1px solid var(--color-text-contrast);
    box-shadow: 0 0 4px rgb(var(--color-rgb));
}

.on {
    position: relative;
}
.on::after {
    content: ' ';
    display: block;
    position: absolute;

    background-color: rgb(var(--color-rgb));
    border-radius: 50%;
}

.label {
    margin-left: var(--size-1);
}

.size-xs {
    width: 20px;
    height: 20px;
}
.size-xs::after {
    inset: 2px;
}
.size-s {
    width: 24px;
    height: 24px;
}
.size-s::after {
    inset: 3px;
}
.size-m {
    width: 28px;
    height: 28px;
}
.size-m::after {
    inset: 4px;
}
.size-l {
    width: 36px;
    height: 36px;
}
.size-l::after {
    inset: 6px;
}
.size-xl {
    width: 48px;
    height: 48px;
}
.size-xl::after {
    inset: 7px;
}

.color-default {
    --color-rgb: 92, 92, 92;
    --color-text-contrast: var(--text-main);
}
.color-primary {
    composes: primary from "../../../colors.css";
}
.color-success {
    composes: success from "../../../colors.css";
}
.color-info {
    composes: info from "../../../colors.css";
}
.color-warn {
    composes: warn from "../../../colors.css";
}
.color-error {
    composes: error from "../../../colors.css";
}

.disabled .box.on::after {
    background-color: rgb(var(--default-dark-rgb));
}
