.text {
    color: rgb(var(--color-rgb));
}

.color-default {
    color: var(--text-main);
}
.color-primary {
    composes: primary from "../../../colors.css";
}
.color-success {
    composes: success from "../../../colors.css";
}
.color-info {
    composes: info from "../../../colors.css";
}
.color-warn {
    composes: warn from "../../../colors.css";
}
.color-error {
    composes: error from "../../../colors.css";
}

.size-xs {
    composes: text-xs from "../../../typography.css";
}
.size-s {
    composes: text-s from "../../../typography.css";
}
.size-m {
    composes: text-m from "../../../typography.css";
}
.size-l {
    composes: text-l from "../../../typography.css";
}
.size-xl {
    composes: text-xl from "../../../typography.css";
}

.bold {
    composes: weight-bold from "../../../typography.css";
}
.normal-weight {
    composes: weight-normal from "../../../typography.css";
}
.light {
    composes: weight-light from "../../../typography.css";
}

.italic {
    font-style: italic;
}
.normal-style {
    font-style: normal;
}

.dim {
    opacity: 0.5;
}
.non-dim {
    opacity: 1;
}
