.container {
    display: flex;

    padding-top: var(--container-padding, 0px);
    padding-left: var(--container-padding, 0px);
    padding-right: calc(var(--container-padding, 0px) - var(--container-gap, 0px));
    padding-bottom: calc(var(--container-padding, 0px) - var(--container-gap, 0px));
}

.container > * {
    margin-right: var(--container-gap);
    margin-bottom: var(--container-gap);
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.pad-xs {
    --container-padding: var(--size-1);
}
.pad-s {
    --container-padding: var(--size-2);
}
.pad-m {
    --container-padding: var(--size-3);
}
.pad-l {
    --container-padding: var(--size-4);
}
.pad-xl {
    --container-padding: var(--size-5);
}

.gap-xs > * {
    --container-gap: var(--size-0-5);
}
.gap-s > * {
    --container-gap: var(--size-1);
}
.gap-m > * {
    --container-gap: var(--size-2);
}
.gap-l > * {
    --container-gap: var(--size-3);
}
.gap-xl > * {
    --container-gap: var(--size-4);
}

.fill {
    flex: 1 1 auto;
}
.content {
    flex: 0 0 auto;
}

.justify-start {
    justify-content: flex-start;
}
.justify-end {
    justify-content: flex-end;
}
.justify-center {
    justify-content: center;
}
.justify-stretch {
    justify-content: stretch;
}

.align-start {
    align-items: flex-start;
}
.align-end {
    align-items: flex-end;
}
.align-center {
    align-items: center;
}
.align-stretch {
    align-items: stretch;
}
