.bounder {
    position: absolute;
    display: flex;
    overflow: visible;
    pointer-events: none;
}

.bounder.orientation-horizontal {
    flex-flow: row nowrap;
}
.bounder.orientation-vertical {
    flex-flow: column nowrap;
}

.bounder.anchor-top {
    justify-content: flex-end;
}
.bounder.anchor-bottom {
    justify-content: flex-start;
}
.bounder.anchor-left {
    justify-content: flex-end;
}
.bounder.anchor-right {
    justify-content: flex-start;
}

.bounder.align-left {
    align-items: flex-start;
}
.bounder.align-right {
    align-items: flex-end;
}
.bounder.align-top {
    align-items: flex-start;
}
.bounder.align-bottom {
    align-items: flex-end;
}

.bounder.align-center {
    align-items: center;
}

.content-wrapper {
    display: flex;
    pointer-events: none;
}
.content-wrapper > * {
    pointer-events: auto;
}

.bounder.orientation-vertical > .content-wrapper {
    flex-flow: column nowrap;
}

.bounder.constrain-shorter.orientation-horizontal > .content-wrapper {
    height: max-content;
    max-height: 100%;
}
.bounder.constrain-shorter.orientation-vertical > .content-wrapper {
    width: max-content;
    max-width: 100%;
}

.bounder.constrain-longer.orientation-horizontal > .content-wrapper {
    height: max-content;
    min-height: 100%;
}
.bounder.constrain-longer.orientation-vertical > .content-wrapper {
    width: max-content;
    min-width: 100%;
}

.bounder.constrain-exact.orientation-horizontal > .content-wrapper {
    height: 100%;
}
.bounder.constrain-exact.orientation-vertical > .content-wrapper {
    width: 100%;
}
