.button {
    background: var(--button-bg, transparent);
    color: var(--button-text, transparent);

    cursor: pointer;

    border: 2px solid var(--button-border, transparent);

    padding: var(--button-vpad, var(--size-1-5)) var(--button-hpad, var(--size-2-5));
    border-radius: var(--size-1);
    outline: none;

    height: var(--size);

    transition: all var(--transition-quick) ease-in-out;

    --button-color: rgb(var(--color-rgb));
    --button-color-light: rgb(var(--color-light-rgb));
    --button-color-dark: rgb(var(--color-dark-rgb));
    --button-color-25: rgba(var(--color-rgb), .2);
    --button-color-5: rgba(var(--color-rgb), .05);
    --button-text-color: var(--color-text-contrast);
}

.button.loading {
    cursor: wait;
}

.button:not(.loading):hover {
    color: var(--button-text-hover, var(--button-text, transparent));
    border-color: var(--button-border-hover, var(--button-border, transparent));
    background: var(--button-bg-hover, var(--button-bg, transparent));
}

.button:not(.loading):active {
    color: var(--button-text-active, var(--button-text, transparent));
    background: var(--button-bg-active, var(--button-bg, transparent));
    border-color: var(--button-border-active, var(--button-border, transparent));

    transform: scale(0.97);
}

.color-default {
    composes: default from "../../colors.css";
}
.color-primary {
    composes: primary from "../../colors.css";
}
.color-success {
    composes: success from "../../colors.css";
}
.color-info {
    composes: info from "../../colors.css";
}
.color-warn {
    composes: warn from "../../colors.css";
}
.color-error {
    composes: error from "../../colors.css";
}

.color-disabled {
    --button-color: var(--bg-main-100);
}

.mode-solid {
    --button-bg: var(--button-color);
    --button-bg-loading: var(--button-color-light);
    --button-bg-active: var(--button-color-dark);
    --button-border: transparent;
    --button-border-hover: var(--button-color-light);
    --button-text: var(--button-text-color);
}
.mode-solid:focus-visible {
    outline: 1px solid var(--button-text);
    box-shadow: 0 0 var(--button-hpad) var(--button-color);
}
.mode-solid.color-default:focus-visible {
    box-shadow: 0 0 var(--button-hpad) var(--button-color-dark);
}

.mode-pale {
    --button-bg: var(--button-color-5, transparent);
    --button-bg-loading: var(--button-color-25);
    --button-bg-hover: var(--button-color-25);
    --button-bg-active: var(--button-color-25);
    --button-text: var(--button-color);
}
.mode-pale.color-default {
    --button-text: var(--text-main);
}
.mode-pale:focus-visible {
    outline: 1px solid var(--button-color);
}

.mode-text {
    --button-text: var(--button-color);
    --button-text-hover: var(--button-color-dark);
}
.mode-text.color-default {
    --button-text: var(--text-main);
    --button-text-hover: var(--text-dim);
}
.mode-text:focus-visible {
    text-decoration: underline;
}

.disabled {
    cursor: default;
    pointer-events: none;
    color: var(--text-dim);
}

.size-xs {
    --button-vpad: var(--size-1);
    --button-hpad: var(--size-1-5);
    --size: 24px;

    composes: text-xs from "../../typography.css";
}
.size-s {
    --button-vpad: var(--size-1);
    --button-hpad: var(--size-2);
    --size: 28px;

    composes: text-s from "../../typography.css";
}
.size-m {
    --button-vpad: var(--size-1-5);
    --button-hpad: var(--size-2-5);
    --size: 36px;

    composes: text-m from "../../typography.css";
}
.size-l {
    --button-vpad: var(--size-2);
    --button-hpad: var(--size-3);
    --size: 48px;

    composes: text-l from "../../typography.css";
}
.size-xl {
    --button-vpad: var(--size-2-5);
    --button-hpad: var(--size-3-5);
    --size: 64px;

    composes: text-xl from "../../typography.css";
}

.square {
    width: var(--size);
    --button-hpad: var(--button-vpad);
}

.mode-solid.loading {
    background: repeating-linear-gradient(45deg,
            var(--button-bg),
            rgba(var(--color-rgb), 0.7) calc(var(--size) / 2),
            var(--button-bg) var(--size));

    background-size: calc(var(--size) * 1.414213 + 4px) calc(var(--size) * 1.414213 + 4px);
    border-color: transparent;
    background-position-y: -2px;

    animation: button-loading-background linear 1s infinite;
}

@keyframes button-loading-background {
    0% {
        background-position-x: -2px;
    }
    100% {
        background-position-x: calc(var(--size) * 1.414213 + 2px);
    }
}

.mode-pale.loading {
    background: repeating-linear-gradient(45deg,
            var(--button-color-5),
            var(--button-color-25) calc(var(--size) / 2),
            var(--button-color-5) var(--size));

    background-size: calc(var(--size) * 1.414213 + 4px) calc(var(--size) * 1.414213 + 4px);
    border-color: transparent;
    background-position-y: -2px;

    animation: button-loading-background linear 1s infinite;
}

.mode-text.loading {
    animation: button-flashing-text ease-in-out 700ms infinite alternate;
}

@keyframes button-flashing-text {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}
