.wrapper {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.disabled {
    cursor: default;
}

.checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}

.label {
    margin-left: var(--size-2);
}

.size-xs {
    height: var(--size-xs);
}
.size-s {
    height: var(--size-s);
}
.size-m {
    height: var(--size-m);
}
.size-l {
    height: var(--size-l);
}
.size-xl {
    height: var(--size-xl);
}
